<!DOCTYPE html>
<html lang="en">
<!-- Change -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Music Records</title>

    <style>
        ul.no-bullets {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>Music Records</h1>
        <h2>Search</h2>
        <div class="form-group col">

        <div class="col-4">
            <label for="artist">Artist</label>
            <input type="text" class="form-control" id="artist" v-model="artist"
                v-on:keyup.enter="filterByArtist(artist)">
            <button type="button" class="btn btn-primary" v-on:click="filterByArtist(artist)">Search</button>
        </div>
        <div class="col-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" v-model="title" v-on:keyup.enter="filterByTitle(title)">
            <button class="btn btn-primary" v-on:click="filterByTitle(title)">Search</button>
        </div>
        <div class="col-4">
            <label for="year">Year</label>
            <input type="number" class="form-control" id="year" v-model="publicationYear"
                v-on:keyup.enter="filterByYear(publicationYear)">
            <button class="btn btn-primary" v-on:click="filterByYear(publicationYear)">Search</button>
        </div>
        </div>

        <h1>Create</h1>
        <div class="form-group col">
            <div class="col-4">
            <input type="text" id="addArtist" class="form-control" v-model="addData.artist" placeholder="Artist">
            <input type="text" id="addTitle" class="form-control" v-model="addData.title" placeholder="Title">
            <input type="number" id="addYear" class="form-control" v-model="addData.publicationYear"placeholder="Year">
            <input type="text" id="addDuration" class="form-control" v-model="addData.duration" placeholder="Duration">
            <button id="addMusicRecord" class="btn btn-danger" v-on:click="addMusicRecords()">Add</button>
            </div>
        </div>
        
        <h1>Delete</h1>
        <div class="form-group col">
               <div class="col-4">
                <input type="number" id="deleteById" class="form-control" v-model="deleteById" placeholder="Id">
                <button id="deleteMusicRecord" class="btn btn-danger" v-on:click="deleteMusicRecords(deleteById)">Delete</button>
               </div>    
        </div>


            <h1>Filtered Music Records List</h1>
            <ul class="no-bullets" id="recordList" v-if="musicRecords.length > 0">
                <li v-for="musicRecord in musicRecords">
                    Id {{musicRecord.id}} : Artist {{musicRecord.artist}} : Title {{musicRecord.title}} : Year
                    {{musicRecord.publicationYear}}
                </li>
            </ul>


            <h1>Full Music Records List</h1>

            <ul class="no-bullets" id="recordList" v-if="allMusicRecords.length > 0">
                <li v-for="musicRecord in allMusicRecords">
                    Id {{musicRecord.id}} : Artist {{musicRecord.artist}}
                </li>
            </ul>
        </div>

        

        <script src="index.js"></script>
</body>

</html>