<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Music Records</title>
</head>
<body>
<div id = "app">
<h1>Music Records</h1>
<h2>Search</h2>
    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" class="form-control" id="artist" v-model="artist" v-on:keyup.enter="filterByArtist(artist)">
        <button v-on:click="filterByArtist(artist)">Search</button>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" v-model="title">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" v-model="year">
    </div>

    <h1>Filtered Music Records List</h1>
    <ol id="recordList" v-if="musicRecords.length > 0">
        <li v-for="musicRecord in musicRecords">
            Id {{musicRecord.Id}}  : Artist {{musicRecord.artist}}
        </li>  
        </ol>

    

    <h1>Full Music Records List</h1>

<ol id="recordList" v-if="musicRecords.length > 0">
<li v-for="musicRecord in musicRecords">
    Id {{musicRecord.Id}}  : Artist {{musicRecord.artist}}
</li>  
</ol>  
</div>       

<script src="index.js"></script>
</body>
</html>