<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Music Records</title>
</head>
<body>
<div id = "app">
<ol id="recordList" v-if="allMusicRecords.length > 0">
<li v-for="musicRecord in allMusicRecords">
    Id {{musicRecord.Id}}  : Artist {{musicRecord.artist}}
</li>  
</ol>  
</div>       

<script src="index.js"></script>
</body>
</html>